.Board{
  float: left;
  /*background-image: url('../../images/browser.svg');
  background-repeat: no-repeat;
  background-size: 100%;*/
}

.Board .canvas-container{
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}
